.part-one {
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
    margin-bottom: 0%;
    align-items: center;
    width: auto;
    
}

ul {
list-style-type: none;
display: flex;
gap: 40px;
font-family:  #e5e7eb;
font-size: 18px;
margin-right: 100px;
}

#logo {
margin-left: 100px;
font-family: #e5e7eb;
font-weight: bold;
font-size: xx-large;
}

.part-two {
    display: flex;
    padding-top: 25px;
    height: 300px;
    justify-content: space-between;
    background-color: darkgray;
    
}

.head-para-button {
display: block;
margin-left: 100px;
width: 600px;
}

.img-two {
align-self: center;
 margin-right: 100px;
 height: 200px;
 display: flex;
justify-content:centers;
max-width: 100%;
max-height: 100%;
margin-bottom: 25px;
}

.button-one button {
display: block;
font-weight: bold;
color: blue;
border-radius: 6px;
padding: 10px;
}

.part-three {
    display: flex;
    background-color: darkblue;
    flex-direction: column;
    text-align: center;
    height: 400px;
}

.header-pt-two {
    display: flex;
    background-color: darkblue;
    flex-direction: column;
    text-align: center;
    
}
    


.images-caption {
   display: flex;
   justify-content: space-between;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 25px;
}
.part-three img {
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

.quote-author {
    background-color: green;
    height: 400px;
    display: flex;
}

.quote {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 150px;
    font-size: x-large;
    font-style: italic;
    
}

.author {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-bottom: 50px;
    font-style: italic;
    font-weight: bolder;
}

.final-section {
    height: 250px;
    justify-content: center;
    display: flex;
    color: white;
}

.mini-box {
margin: 50px;
background-color: blue;
display: flex;
justify-content: center;
width: 800px;
align-items: center;
border-radius: 50px;

}

.mini-box button {
align-content: center;
margin-left: 200px;
width: 100px;
height: 30px;
border-color: white;
border-width: 4px;
border-radius: 25px;
background-color: blue;
color: white;
}
    
footer {
    background-color: green;
    display: flex;
    justify-content: center;
}
   

